body{
    margin: 0;
    padding: 0;
    background-color: yellow;
}

.inicio{
    background: yellow;
    height: 50px;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 4px 4px 4px black;
    text-shadow: 2px 2px 5px white;
    border-radius: 10px;
}

.inicio span{
    margin: 0 10px;
    font-size: 25px;
}

#meio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px black;
    height: 200px;
    width: 98%;
    margin: 10px;
}

#meio button{
    background:white;
    padding: 15px;
    border: none;
    border-radius: 5px;
}