body{
    margin: 0;
    padding: 0;
    background-color: yellow;
}

.inicio{
    background: yellow;
    height: 50px;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 4px 4px 4px black;
    text-shadow: 2px 2px 5px white;
    border-radius: 10px;
}

.inicio span{
    margin: 0 10px;
    font-size: 25px;
}